* {
    font-family: '微软雅黑';
}

#contianer {
    width: 100%;
    height: 100%;
    text-align: center
}

.containerDiv {
    width: 400px;
    height: 400px;
    margin-left: 80px;
    margin-top: 10px;
    float: left;
    background-color: whitesmoke;
}

.inputObj {
    width: 240px;
}

/* 查询的IP信息居左 */
#IPInfo,
#QQUserInfo {
    text-align: left;
}

#quotaInfo, 
#yiyanInfo{
    margin-top: 10px;
}